.topbuck {
    height: 400px;
    background-image: url(img/buckback.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    width: 1200px;
    height: 76px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.buck {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    max-height: 556px;
    margin-bottom: 140px;


    &__form {
        border-radius: 20px;
        background: rgb(247, 246, 246);
        height: 556px;
        grid-column: span 4;
    }

    &__form-input {
        width: 200px;
        font-size: 14px;
    }


    &__name-box {
        display: flex;
        justify-content: space-between;
        padding-top: 64px;
        padding-bottom: 14px;
    }



    &__left {
        display: flex;
        gap: 32px;
    }

    &__info {
        width: 276px;
        display: flex;
        gap: 14px;
        flex-direction: column;
    }

    &__item {
        border-top: 0.5px solid rgb(202, 205, 216);
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-content: flex-start;

    }

    &__name {
        color: rgb(0, 0, 0);
        font-weight: 500;
        font-size: 24px;
    }

    &__tovar-info {
        font-family: $text-font;
        color: rgba(136, 136, 136, 1);
        font-size: 14px;
    }

    &__input {
        border-radius: 6px;
        background: rgb(247, 246, 246);
        width: 71px;
        height: 51px;
        appearance: none;
        border: none;
        font-weight: 600;
        font-family: "Poppins";
    }

    &__input::placeholder {
        padding-left: 13px;
        font-size: 14px;
        color: #000000;
    }

    &__form {
        margin-top: 64px;
    }

    &__link-box {
        display: flex;
        gap: 30px;
        padding-top: 15px;
    }


    &__link-href {
        color: rgb(0, 0, 0);
        font-family: $text-font;
        font-size: 14px;
        text-decoration: underline;
    }

    &__link-href:hover {
        text-decoration: none;
        color: rgba(136, 136, 136, 1);
        transition: 1s;
    }

    &__btn-main-mobile {
        display: none;
    }


    &__form-big {
        padding-top: 42px;
        font-size: 24px;
        padding-left: 36px;

    }

    &__form-main {
        display: flex;
        flex-direction: column;
        padding-left: 24px;
    }

    &__form-box {
        height: 143px;
        width: 288px;
        height: 143px;
        width: 288px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 44px;
        padding-top: 35px;
    }

    &__form-input {
        border: none;
        border-bottom: 1px solid rgb(202, 205, 216);
        background-color: rgb(247, 246, 246);
        width: 288px;
        font-family: $text-font;

    }

    &__bot {
        width: 290px;
        height: 41px;
        box-sizing: border-box;
        border: 1px solid rgb(4, 4, 4);
        border-radius: 20px;
        font-size: 16px;
    }

    &__bot:hover {
        background-color: #000000;
        color: white;
        transition: 1s;
    }

    &__sum-btn {
        display: flex;
        flex-direction: column;
        margin-left: 34px;
        gap: 18px;
        font-size: 24px;
        font-weight: 400;
        margin-top: 15px;
    }

    &__sum {
        font-weight: 400;
    }

    &__btn-link {
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 50px;
        width: 200px;
        height: 37px;
        background-color: $color-text;
        font-size: 14px;
    }



}

.buck-content {
    grid-column: span 8;
}

.buck-link {
    padding-top: 32px;
    padding-bottom: 65px;
    display: flex;
    gap: 7px;
}

.buck-link__catalog {
    font-family: "$text-font", "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-decoration: underline;

}

.buck-link__catalog:hover {
    color: rgba(136, 136, 136, 1);
    transition: 1s;
    text-decoration: none
}

.cart__btn-link {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    width: 200px;
    height: 37px;
    background-color: $color-text;
}

.cart__btn-link:hover {
    background-color: #000000;
    color: white;
    transition: 1s;
}

.cart {
    margin-bottom: 50px;
    margin-top: 32px;
    display: flex;
    gap: 7px;
}