* {
    margin: 0;
    padding: 0;
}

* {
  padding: 0;
  margin: 0;
}

.head {
  height: 76px;
}

input {
  font-family: "Montserrat", sans-serif;
}

li {
  font-family: "Montserrat", sans-serif;
}

button {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.top {
    height: 800px;
  background-image: url(img-hw/back-top.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.header-text{
    font-size: 64px;
    font-weight: 700;
}
